@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    font-family: "San Francisco",Helvetica,Arial,sans-serif;
    font-size: 20px;
    /*background-color: rgb(89, 147, 255);*/
    overflow-x: hidden;
}

.navbar-container .navbar {
    background-color: #fff;
    transition: all .2s ease-in;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
} 

@media (max-width: 991px) {
    .navbar-container .navbar .navbar-nav {
        padding: 16px;
        border-radius: 10px;
        background-color: #fff;
    }
}


h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #222121;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    h1{   
        font-size: 33px;
        line-height: 37px;
    }
}

h5 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    h5{   
        font-size: 33px;
        line-height: 37px;
    }
}




h2 {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 800;
    font-size: 78px;
    color: #000000!important;
    line-height: 1.2em;
    text-align: center;
}


@media screen and (max-width: 768px) {
    h3{
        font-size:20px;
    }
}

.hero-section {
  position: relative;
  display: inline;
}
.imtip {
  position: absolute;
  bottom: -8rem;
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}

@media screen and (max-width: 768px) {
    .imtip {
        width: 200px;
        height: 200px;
        position: absolute;
        bottom: -3rem;
        margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
    }
}

.container {
    background: rgb(19, 15, 64)
    margin: 0 auto;
    padding: 0;
}
@media only screen and (max-width: 767px) {
    .container {
        width: 300px;
    }
}




/*new faq section*/

 
.collapsible {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  /*new faq section ends*/




#about {
    background-color: rgb(89, 147, 255);;
    padding: 100px 0;
}
@media (max-width:767px) {
    #about {
        background-color: rgb(89, 147, 255);;
        padding: 40px 0;
    }
}


#diversity {
    background-color: rgb(178, 255, 219);
    padding: 90px 0;
}

#diversity h1 {
    color: #353576;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    #diversity h1 {
        margin-bottom: 0px;
        
    }
}

@media (max-width:767px) {
    #diversity {
        background-color: rgb(178, 255, 219);
        padding: 90px 0;
    }
}

#diversity_carousel {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}
@media (max-width:767px) {
    #diversity_carousel {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}


#schedule {
    background-color: #f2f2f2;
    padding: 100px 0;
}
@media (max-width:767px) {
    #schedule {
        background-color: rgb(255, 162, 133);
        padding: 50px 0;
    }
}

#tracks {
    background-color: #fff9f0;
    padding: 90px 0;
}
@media (max-width:767px) {
    #tracks {
        background-color: #fff9f0;
        padding: 50px 0;
    }
}
#tracks .card {
    padding: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}
#tracks .card h3{
    margin-top: 10px;
}
@media (max-width:767px) {
    #tracks .card{
        margin-right: 0px; 
    }
}

#prize {
    background-color: #ed6362;
    padding: 90px 0;
}
@media (max-width:767px) {
    #prize {
        background-color: #ed6362;
        padding: 50px 0;
    }
}

#prize .prize-card {
    align-content: center;
    width: 360px;
    height: 360px;
    padding: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}
#prize .prize-card h3{
    margin-top: 0px;
}
@media (max-width:767px) {
    #prize .prize-card{
        margin-left: 25px; 
    }
}

#sponsers {
    background-color: #ffffff;
    padding: 90px 0;
}
@media (max-width:767px) {
    #sponsers {
        background-color: #ffffff;
        padding: 50px 0;
    }
}

#sponsers .sponser-card {   
   align-content: center; 
    width: 360px;
    height: 360px;
    padding: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2); 
    
}

#sponsers .sponser-container img {
    max-width: 160px;
    max-height: 60px;        
}
#sponsers .sponser-card h3{

    max-height: 100%;
    max-width: 100%;
    }
   
@media (max-width:767px) {
    #sponsers .sponser-card{
        margin-left: 25px; 
    }
}

#faq {

    background-color: #cc80ff;
    padding: 90px 0;
}
@media (max-width:767px) {
    #faq {
        background-color: #ffffff;
        padding: 50px 0;
    }
}


.Register {
    width: 100%;
}

.register-link{
    color: white;
    font-size: 20px;
}
 
.register-link:hover{
    color: white;
}
.collapse-section{
    font-size: 14px;
}



.explore-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#tracks .track-card {
    align-content: center;
    width: 360px;
    height: 360px;
    padding: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}
#tracks .track-card h3{
    margin-top: 0px;
}
@media (max-width:767px) {
    #tracks .track-card{
        margin-left: 25px; 
    }
}

#events {
    background-color: #6bc8b0;
    padding: 90px 0;
}
@media (max-width:767px) {
    #events {
        background-color: #6bc8b0;
        padding: 50px 0;
    }
}




/* new speakers*/
.card-section-imagia {
    padding: 90px 0;
    /*padding: 60px 0 30px;*/
    background: #f1f1f1;
  }
  
  .card-section-imagia > h1 {
    font-size: 48px;
    text-align: center;
    margin: 0 0 10px;
  }
  
  .card-section-imagia > h2 {
    font-size: 24px;
    text-align: center;
    margin: 0 0 60px;
    color: #aaaaaa;
    text-transform: uppercase;
  }
  
  .card-container-imagia {
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    -o-perspective: 1500px;
    perspective: 1500px;
    margin-bottom: 30px;
  }
  
  .card-container-imagia:hover .card-imagia {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
  }
  
  .card-imagia {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .front-imagia, .back-imagia {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 46px;
  }
  
  .front-imagia {
    z-index: 2;
  }
  
  .back-imagia {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    z-index: 3;
  }
  
  .card-container-imagia, .front-imagia, .back-imagia {
    width: 100%;
    height: 420px;
    border-radius: 4px;
  }
  
  .card-imagia .cover-imagia {
    height: 120px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
  }
  
  .card-imagia .cover-imagia img {
    width: 100%;
    height: auto;
  }
  
  .card-imagia .cover-imagia.cover-gradient {
    background: #ffffff;
    background-image: radial-gradient(circle at 50% 100% , #ADCACE 0%, #89BECE 33%, #34A1C8 66%, #036EAD 100%);
  }
  
  .card-imagia .user-imagia {
    border-radius: 50%;
    display: block;
    height: 130px;
    margin: -65px auto 0;
    overflow: hidden;
    width: 120px;
  }
  
  .card-imagia .user-imagia img {
    background: #FFFFFF;
    border: 5px solid #FFFFFF;
    width: 100%;
  }
  
  .card-imagia .content-imagia {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
  }
  
  .content-back-imagia {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .card-imagia .name-imagia {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
  }
  
  .card-imagia .subtitle-imagia {
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .card-imagia .footer-imagia {
    width: 100%;
    color: #aaaaaa;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #eeeeee;
  }
  
  .card-imagia .footer-imagia .social-imagia a {
    margin: 0 7px;
    font-size: 18px;
  }
  
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front-imagia, .back-imagia {
      -ms-backface-visibility: visible;
      backface-visibility: visible;
    }
  }
  
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .back-imagia {
      visibility: hidden;
      -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
  }
  
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front-imagia {
      z-index: 4;
    }
  }
  
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .card-container-imagia:hover .back-imagia {
      z-index: 5;
      visibility: visible;
    }
  }
  /*new speakers end*/



 

#register {
    background-color: #f1ebeb;
    padding: 90px 0;
}
@media (max-width:767px) {
    #register {
        background-color: #f1ebeb;
        padding: 50px 0;
    }
}



#pasteventphotos_carousel {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}


.card-text {
    font-size: 16px;
}


.btn-lg {
    margin-left: 40%;
}
@media (max-width:767px) {
    .btn-lg {
        margin-left: 20%;
    }
}


.title {
    padding: 20px;
}


.section-heading{
    background: #572d84; 
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    text-align: center;
    color: #ffffff;
    font-size: 35px;
}

  /* footer */


  .footer-dark {
    padding: 50px 0;
    color: #555252;
    background-color: #f7f9fa;
  }
  
  .footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
  }
  
  .footer-dark ul a:hover {
    opacity: 0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align: center;
      padding-bottom: 20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom: 36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom: 0;
    }
  }
  
  .footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
  }
  
  .footer-dark .item.social {
    text-align: center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align: center;
      margin-top: 20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
    margin: 0 8px;
    color: #757575;
    opacity: 0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity: 0.9;
  }
  
  .footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
  }
  




/* Timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/* Beta Badge */

  .badge {
    position: fixed;
    left: -7px;
    top: 19px;
    background-color: #4834fd;
    -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
    text-align: center;
    color: white;
    padding: 0 .5em;
    border-top: 0px;
    line-height: 20px;
    margin: 0;
    border-radius: 0px;
  }
  .badge:after {
      content: ' ';
      position: fixed;
      right: -19px;
      top: 0px;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #4834fd;
  }
  .badge:before {
      content: ' ';
      position: fixed;
      left: -19px;
      top: 0px;
      border-left: 20px solid transparent;
      border-bottom: 20px solid #4834fd;
  }

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text {
    text-align: center;
   line-height: normal;
}
@media (max-width:767px) {
    .text {
        text-align: center;
        line-height: normal;
    }
}


#devfolio-apply-now {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    bottom: 15rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #3770FF;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe U
    I', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe
    UI Emoji', 'Segoe UI Symbol';
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    text-align: center;
    text-transform: none;
    }
    #devfolio-apply-now:not([disabled]) {
    cursor: pointer;
    }
    #devfolio-apply-now:hover {
    background-color: #2954BF !important;
    }
    #devfolio-apply-now .logo {
        /* Please keep the color of Devfolio logo mark either whit
        e (#FFFFFF) or black (#000000) */
        fill: white;
        }
        

    @media screen and (max-width: 768px) {
        #devfolio-apply-now {
            position: relative;
            top: 0px;
    
  
        }
    }
    


    /* sponsor */
    
#sponsors {
    background-color: #ffffff;
    padding: 90px 0;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
}


@media (max-width:767px) {
    #sponsors {
        background-color: #fff9f0;
        margin-left: 0px;
        display: grid;
        /* flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; */
        grid-gap: 20px;

    }
}


@media (max-width:767px) {
    #sponsors {
        background-color: #fff9f0;
        margin-left: 0px;
    }
}
@media(max-width:767px){
    #sponsors .row{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }
}

.small-sponsors{

}

@media (max-width:767px) {
    .sponsor-logo {
    padding: 50px 0;
    }
}
